
@import "tailwindcss";

@theme {
  --color-primary: #19e65e;
  --color-secondary: #136dec;
  --color-background-light: #f0f2f5;
  --color-background-dark: #0a0f0b;
  
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Lexend", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-background-dark text-white transition-colors duration-500 font-sans;
    overscroll-behavior-y: contain;
  }
}

@layer components {
  .ios-blur {
    @apply backdrop-blur-xl bg-white/80 dark:bg-[#111812]/90;
    -webkit-backdrop-filter: blur(25px);
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(25, 230, 94, 0.2);
  border-radius: 10px;
}
